<a href="https://colab.research.google.com/github/Lyhq1996/LHQ/blob/master/data_preparation_lhq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization.
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.3.3/spark-2.3.3-bin-hadoop2.7.tgz
!tar xf spark-2.3.3-bin-hadoop2.7.tgz
!pip install -q findspark

In [3]:
#install kaggle api library
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.6.1)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)

In [0]:
#check if there is a directory called .kaggle under the content, it not, make one
#%cd /content/drive/My\ Drive/
# !mkdir "Colab Notebooks"
#%cd "Colab Notebooks"
# !mkdir data
#%cd data
!mkdir /root/.kaggle

In [0]:
# import json file to store Kaggle API
import json
token = {"username":"hongqianli96","key":"c16a8eba40b41276cf5709b644cced88"} 
with open('/root/.kaggle/kaggle.json', 'w') as file:
    json.dump(token, file)

In [6]:
!kaggle datasets download -d yelp-dataset/yelp-dataset

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Downloading yelp-dataset.zip to /content
100% 3.61G/3.62G [00:48<00:00, 72.1MB/s]
100% 3.62G/3.62G [00:48<00:00, 80.5MB/s]

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [8]:
#the dataset is stored in a zip file, unzip it before using 
!unzip \*.zip

Archive:  yelp-dataset.zip
  inflating: Dataset_Challenge_Dataset_Agreement.pdf
  inflating: yelp_academic_dataset_business.json
  inflating: yelp_academic_dataset_checkin.json
  inflating: yelp_academic_dataset_review.json
  inflating: yelp_academic_dataset_tip.json
  inflating: yelp_academic_dataset_user.json

In [9]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.3-bin-hadoop2.7"

print("finished")

finished

In [0]:
import findspark
findspark.init()

In [0]:
import pyspark

In [12]:
# get a spark context
sc = pyspark.SparkContext.getOrCreate()
print(sc)
# get the context
spark = pyspark.sql.SparkSession.builder.getOrCreate()
print(spark)

<SparkContext master=local[*] appName=pyspark-shell>
<pyspark.sql.session.SparkSession object at 0x7f906ef985c0>

In [13]:
restaurant_review_df= spark.read.json("/content/yelp_academic_dataset_review.json")
restaurant_review_df.show()

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|ujmEBvifdJM6h6RLv...|   0|2013-05-07 04:34:36|    1|Q1sbwvVQXV2734tPg...|  1.0|Total bill for th...|     6|hG7b0MtEbXx5QzbzE...|
|NZnhc2sEQy3RmzKTZ...|   0|2017-01-14 21:30:33|    0|GJXCdrto3ASJOqKeV...|  5.0|I *adore* Travis ...|     0|yXQM5uF2jS6es16SJ...|
|WTqjgwHlXbSFevF32...|   0|2016-11-09 20:09:03|    0|2TzJjDVDEuAW6MR5V...|  5.0|I have to say tha...|     3|n6-Gk65cPZL6Uz8qR...|
|ikCg8xy5JIg_NGPx-...|   0|2018-01-09 20:56:38|    0|yi0R0Ugj_xUx_Nek0...|  5.0|Went in for a lun...|     0|dacAIZ6fTM6mqwW5u...|
|b1b1eb3uo-w561D0Z...|   0|2018-01-30 23:07:38|    0|11a8sVPMUFtaC7_AB...|  1.0|Today was my seco...|     7|ssoyf2_x0EQMed6fg...|
|eU_713ec6fTGNO4Be...|   0|2013-01-20 13:25:59|    0|fdiNeiN_hoCxCMy2w...|  4.0|I'll be the first...|     0|w31MKYsNFMrjhWxxA...|
|3fw2X5bZYeW9xCz_z...|   5|2016-05-07 01:21:02|    4|G7XHMxG0bx9oBJNEC...|  3.0|Tracy dessert had...|     5|jlu4CztcSxrKx56ba...|
|zvO-PJCpNk4fgAVUn...|   1|2010-10-05 19:12:35|    1|8e9HxxLjjqc9ez5ez...|  1.0|This place has go...|     3|d6xvYpyzcfbF_AZ8v...|
|b2jN2mm9Wf3RcrZCg...|   0|2015-01-18 14:04:18|    0|qrffudO73zsslZbe8...|  2.0|I was really look...|     1|sG_h0dIzTKWa3Q6fm...|
|oxwGyA17NL6c5t1Et...|   1|2012-02-29 21:52:43|    0|RS_GTIT6836bCaPy6...|  3.0|It's a giant Best...|     1|nMeCE5-xsdleyxYuN...|
|8mIrX_LrOnAqWsB5J...|   0|2011-11-30 02:11:15|    0|kbtscdyz6lvrtGjD1...|  4.0|Like walking back...|     0|FIk4lQQu1eTe2EpzQ...|
|mRUVMJkUGxrByzMQ2...|   0|2017-12-15 23:27:08|    1|-I5umRTkhw15RqpKM...|  1.0|Walked in around ...|     0|-mA3-1mN4JIEkqOtd...|
|FxLfqxdYPA6Z85PFK...|   0|2016-05-07 01:36:53|    0|Z7wgXp98wYB57QdRY...|  4.0|Wow. So surprised...|     0|GYNnVehQeXjty0xH7...|
|LUN6swQYa4xJKaM_U...|   0|2018-04-27 20:25:26|    0|qlXw1JQ0UodW7qrmV...|  4.0|Michael from Red ...|     0|bAhqAPoWaZYcyYi7b...|
|AakkkTuGZA2KBodKi...|   0|2012-07-16 00:37:14|    1|JVcjMhlavKKn3UIt9...|  1.0|I cannot believe ...|     1|TpyOT5E16YASd7EWj...|
|YvrylyuWgbP90RgMq...|   0|2017-04-07 21:27:49|    0|svK3nBU7Rk8VfGorl...|  5.0|You can't really ...|     0|NJlxGtouq06hhC7sS...|
|NyLYY8q1-H3hfsTwu...|   0|2015-01-03 22:47:34|    0|1wVA2-vQIuW_ClmXk...|  4.0|Great lunch today...|     0|86J5DwcFk4f4In1Vx...|
|cHdJXLlKNWixBXpDw...|   1|2015-04-01 16:30:00|    7|6BnQwlxRn7ZuWdzni...|  3.0|I love chinese fo...|     1|JSrP-dUmLlwZiI7Dp...|
|6lj2BJ4tJeu7db5as...|   0|2017-05-26 01:23:19|    0|rEITo90tpyKmEfNDp...|  5.0|We've been a huge...|     0|6Fz_nus_OG4gar721...|
|y-Iw6dZflNix4BdwI...|   0|2014-06-27 21:19:23|    0|4bUyL7lzoWzDZaJET...|  3.0|Good selection of...|     0|_N7Ndn29bpll_961o...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 20 rows

In [0]:
#data processing

In [0]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [0]:
import pandas as pd

restaurant_review_df=restaurant_review_df.sample(False, 0.05, seed=123)

In [17]:
restaurant_review_df.show()

+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|         business_id|cool|               date|funny|           review_id|stars|                text|useful|             user_id|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
|YSUcHqlKMPHHJ_cTr...|   0|2017-12-29 13:55:19|    0|E6B-2U2sGG3xgmnNW...|  1.0|Came here on a Th...|     0|DbccYu3OppWKl21Oa...|
|EIL41z-hvVCeYHqfA...|   1|2017-09-20 15:23:35|    0|vzMkIQm34QWBCYaHd...|  5.0|Flat out fantasti...|     1|jAVtSgE5L-Dt6_I5F...|
|CZKkoMlqu0N0zCFK-...|   0|2013-02-21 21:25:07|    0|dcKpWjwqKl0ImVKEr...|  4.0|Great cocktails a...|     1|X-5IICsYwqImns4Wx...|
|5n2dA_QqO4c_7pSK0...|   1|2015-07-28 09:33:12|    1|DmlGGWLHPAQl2v9qM...|  1.0|I was told so man...|     3|8fpiTkK4MO5jJIXHF...|
|EgwGTDZ705TwudPJw...|   0|2011-01-09 00:07:16|    0|W6VRRz7mVGZLsidyH...|  5.0|This place is qui...|     2|To4ATBBNlnC5gzj0d...|
|PycR_Mr5jA9jB4Xg3...|   1|2014-01-17 02:15:25|    1|h7Rmb3EiXjajVfGYN...|  1.0|They charged me t...|    14|oAOE4UAC5ZbAjEGBE...|
|Kz4WS00PcqOJgxfZa...|   1|2013-12-07 01:41:25|    0|NFlW7_5bOPkR2Nz8t...|  4.0|I love Pizza, but...|     0|qkQ5iVnEdqSxjd3fa...|
|seYvTmOZGJ2IAMdfQ...|   1|2014-02-24 00:11:38|    0|qdfEZn3ObIEHC-tiX...|  3.0|I've been here 2x...|     1|ri7itn7-CdpsaPxTT...|
|MPLhOV-JbmntkbcXM...|   0|2017-08-16 04:18:04|    0|_MQLmkkPKBo5ibPai...|  2.0|The only reason I...|     0|8pv8leqC1AVx1Kgef...|
|UJb1PrUWDFfuzwUPc...|   0|2014-06-27 21:15:37|    0|IQ6yUAb-sCu4iQ5MM...|  5.0|Wild every night!...|     1|-RKsh-eKWJtDqnzTL...|
|faPVqws-x-5k2CQKD...|   0|2018-08-04 20:22:15|    0|w1I8U4cJ4QGaXA98I...|  5.0|Service was amazi...|     0|rJNdeta-dYO2YcJ3u...|
|Wxxvi3LZbHNIDwJ-Z...|   2|2011-07-28 09:06:59|    4|Sft1a3j3Hst44CG9g...|  1.0|I am so blown awa...|     8|FBxhaS2bPmxwT3I8r...|
|FbUzIBAj2ziuqL2gr...|   0|2014-01-17 03:27:38|    4|iSmfAVy6cApgXIYHs...|  1.0|My husband and I ...|     6|TTZyVCWsQXXkRIwiw...|
|uLnPW9K1yhNpgzvod...|   0|2014-10-27 04:19:36|    0|OV3RdHNC4Mkg_wWAe...|  4.0|Love this place. ...|     0|qp-z1copnYQq7NPub...|
|tstimHoMcYbkSC4eB...|   0|2014-01-17 00:59:36|    0|iWFBGYotfzwiLsOka...|  4.0|We found out abou...|     0|Gvv5hQR8BYj5f-APt...|
|R7eLlAdeIYsxux_Vm...|   0|2015-01-18 15:33:08|    0|af3W2YSy01Mx4HcAH...|  2.0|I went with the z...|     3|v6MwW-qjrsDyvcGaL...|
|XqJG7Ux_mMfMJnyG2...|   0|2018-08-04 20:49:20|    0|sMh-VUwO64K-VvKEO...|  5.0|What an incredibl...|     0|zsGH_1XyUxuP5O34W...|
|8WIvQavDGCyOa-i1u...|   0|2009-10-13 12:57:28|    0|ionasM2PY_2TFbK5D...|  4.0|Being an avid Hoo...|     1|ev_mrEIDJauxugj1r...|
|Wxxvi3LZbHNIDwJ-Z...|   0|2018-08-30 03:08:26|    0|9XiyPxxdlJgNhkD8g...|  5.0|The nicest hotel ...|     1|IpY_dVyIFBCPkHJzB...|
|pH0BLkL4cbxKzu471...|   0|2017-09-08 23:17:03|    0|pCbyWYtW1kmrz-nV1...|  5.0|A wonderful dinne...|     0|E08iscTU73ioVEaU2...|
+--------------------+----+-------------------+-----+--------------------+-----+--------------------+------+--------------------+
only showing top 20 rows

In [0]:
restaurant_review_df.registerTempTable("review")

In [19]:
business_df= spark.read.json("/content/yelp_academic_dataset_business.json")
business_df.registerTempTable("business")
business_df.show()

+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|             address|          attributes|         business_id|          categories|              city|               hours|is_open|     latitude|      longitude|                name|postal_code|review_count|stars|state|
+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
|2818 E Camino Ace...|[,,,,,,,,,,,,,,,,...|1SWheh84yJXfytovI...|   Golf, Active Life|           Phoenix|                null|      0|   33.5221425|   -112.0184807|Arizona Biltmore ...|      85016|           5|  3.0|   AZ|
|30 Eglinton Avenue W|[,, u'full_bar', ...|QXAEGFB4oINsVuTFx...|Specialty Food, R...|       Mississauga|[9:0-1:0, 9:0-0:0...|      1|43.6054989743|  -79.652288909|Emerald Chinese R...|    L5R 3E7|         128|  2.5|   ON|
|10110 Johnston Rd...|[,, u'beer_and_wi...|gnKjwL_1w79qoiV3I...|Sushi Bars, Resta...|         Charlotte|[17:30-22:0, 17:3...|      1|    35.092564|     -80.859132|Musashi Japanese ...|      28210|         170|  4.0|   NC|
|15655 W Roosevelt...|                null|xvX2CttrVhyG2z1dF...|Insurance, Financ...|          Goodyear|[8:0-17:0, 8:0-17...|      1|33.4556129678|-112.3955963552|Farmers Insurance...|      85338|           3|  5.0|   AZ|
|4209 Stuart Andre...|[,,,,,,,, False, ...|HhyxOkGAM07SRYtlQ...|Plumbing, Shoppin...|         Charlotte|[7:0-23:0, 7:0-23...|      1|   35.1900119|    -80.8872232| Queen City Plumbing|      28217|           4|  4.0|   NC|
|Credit Valley Tow...|[,,,,,,,,,, {'gar...|68dUKd8_8liJ7in4a...|Shipping Centers,...|       Mississauga|[9:0-19:0, 9:0-19...|      1|   43.5994753|    -79.7115835|       The UPS Store|    L5V 0B1|           3|  2.5|   ON|
|20 Douglas Woods ...|[,,,,,,,,,, {'gar...|5JucpCfHZltJh5r1J...|Beauty & Spas, Ha...|           Calgary|                null|      1|   50.9436456|   -114.0018283|    Edgeworxx Studio|    T2Z 1K4|           7|  3.5|   AB|
|4545 E Tropicana ...|[,,,,,,, False,, ...|gbQN7vr_caG_A1ugS...|Hair Salons, Hair...|         Las Vegas|[10:0-19:0, 10:0-...|      1|    36.099872|    -115.074574|           Supercuts|      89121|           3|  3.5|   NV|
|5940 W Union Hill...|[,,,,,,, False,, ...|Y6iyemLX_oylRpnr3...|Nail Salons, Beau...|          Glendale|[10:0-17:0,, 10:0...|      0|   33.6548146|   -112.1885676|Vita Bella Fine D...|      85308|           8|  5.0|   AZ|
|     21689 Lorain Rd|[False,,,,,,,,, T...|4GBVPIYRvzGh4K4Tk...|Beauty & Spas, Na...|     Fairview Park|[9:0-19:0,, 9:0-1...|      1|41.4408252653| -81.8540965503| Options Salon & Spa|      44126|           8|  4.5|   OH|
|1210 8th Street S...|[,,,,,,, False,,,...|fcXOEZdXYeZqnQ3lG...|Local Services, P...|           Calgary|[9:0-17:0, 9:0-17...|      1|    51.041771|    -114.081109|Nucleus Informati...|    T2R 1L3|           5|  2.0|   AB|
|2450 E Indian Sch...|[,, u'none', {'ro...|1Dfx3zM-rW4n-31Ke...|Restaurants, Brea...|           Phoenix|[7:0-1:0, 7:0-0:0...|      1|   33.4951941|   -112.0285876|           Taco Bell|      85016|          18|  3.0|   AZ|
|119 Landings Dr, ...|[,, 'beer_and_win...|5t3KVdMnFgAYmSl1w...|Bars, Nightlife, ...|       Mooresville|[10:0-1:0, 10:0-1...|      1|35.5274098057| -80.8680032061|The Kilted Buffal...|      28117|           9|  3.5|   NC|
|     5981 Andrews Rd|[,, u'none', None...|fweCYi8FmbJXHCqLn...|Italian, Restaura...|Mentor-on-the-Lake|[10:0-1:0, 10:0-0...|      1|     41.70852|     -81.359556|       Marco's Pizza|      44060|          16|  4.0|   OH|
|        4145 Erie St|[,,,,,,,,, True, ...|-K4gAv8_vjx8-2Bxk...|      Bakeries, Food|        Willoughby|[11:0-17:0,, 10:0...|      1|   41.6398599|    -81.4063963|          Baby Cakes|      44094|           7|  3.0|   OH|
|    1455 16th Avenue|[,,,,,,, True,,, ...|A98xW4qb7vOTguggH...|Fitness & Instruc...|     Richmond Hill|[16:0-21:30, 16:0...|      1| 43.861502576| -79.3884991854|   Hot Yoga Wellness|    L4B 3G6|           4|  4.0|   ON|
|4848 E Cactus Rd,...|[,,,,,,,,, True, ...|giC3pVVFxCRR89rAp...|Hair Stylists, Be...|        Scottsdale|[8:0-17:0, 0:0-0:...|      1|    33.600071|    -111.977371|          Knot Salon|      85254|           5|  5.0|   AZ|
|1775 E Tropicana ...|[,, u'full_bar', ...|PZ-LZzSlhSe9utkQY...|Restaurants, Italian|         Las Vegas|                null|      0|   36.1000163|   -115.1285285|Carluccio's Tivol...|      89119|          40|  4.0|   NV|
|                    |[,,,,,,,,, True,,...|nh_kQ16QAoXWwqZ05...|Event Planning & ...|         Las Vegas|[0:0-0:0, 0:0-0:0...|      1|   36.1165487|   -115.0881146|Myron Hensel Phot...|      89121|          21|  5.0|   NV|
|445 King Street W...|[True,,,,,,,,,,, ...|zSpQmEBvRe3IhTUlM...|Trainers, Health ...|           Toronto|[6:0-22:0, 6:0-22...|      1|   43.6450415|    -79.3957986|  Totum Life Science|    M5V 1K4|          23|  4.0|   ON|
+--------------------+--------------------+--------------------+--------------------+------------------+--------------------+-------+-------------+---------------+--------------------+-----------+------------+-----+-----+
only showing top 20 rows

In [20]:
joint_table=spark.sql("SELECT review.business_id,business.city,review.review_id,review.stars,review.text,business.categories FROM review LEFT JOIN business on review.business_id=business.business_id")
joint_table.show()

+--------------------+-----------+--------------------+-----+--------------------+--------------------+
|         business_id|       city|           review_id|stars|                text|          categories|
+--------------------+-----------+--------------------+-----+--------------------+--------------------+
|YSUcHqlKMPHHJ_cTr...|    Toronto|E6B-2U2sGG3xgmnNW...|  1.0|Came here on a Th...|Italian, Restaurants|
|EIL41z-hvVCeYHqfA...|    Phoenix|vzMkIQm34QWBCYaHd...|  5.0|Flat out fantasti...|Custom Cakes, Ame...|
|CZKkoMlqu0N0zCFK-...| Pittsburgh|dcKpWjwqKl0ImVKEr...|  4.0|Great cocktails a...|Restaurants, Amer...|
|5n2dA_QqO4c_7pSK0...|  Las Vegas|DmlGGWLHPAQl2v9qM...|  1.0|I was told so man...|Restaurants, Amer...|
|EgwGTDZ705TwudPJw...|    Phoenix|W6VRRz7mVGZLsidyH...|  5.0|This place is qui...|Pizza, Salad, Ita...|
|PycR_Mr5jA9jB4Xg3...|    Phoenix|h7Rmb3EiXjajVfGYN...|  1.0|They charged me t...|Hotels & Travel, ...|
|Kz4WS00PcqOJgxfZa...|       Mesa|NFlW7_5bOPkR2Nz8t...|  4.0|I love Pizza, but...|Restaurants, Stea...|
|seYvTmOZGJ2IAMdfQ...|    Phoenix|qdfEZn3ObIEHC-tiX...|  3.0|I've been here 2x...|Bars, Vegetarian,...|
|MPLhOV-JbmntkbcXM...| Pittsburgh|_MQLmkkPKBo5ibPai...|  2.0|The only reason I...|Barbeque, Restaur...|
|UJb1PrUWDFfuzwUPc...|      Tempe|IQ6yUAb-sCu4iQ5MM...|  5.0|Wild every night!...|Mexican, Sports B...|
|faPVqws-x-5k2CQKD...|  Las Vegas|w1I8U4cJ4QGaXA98I...|  5.0|Service was amazi...|Restaurants, Amer...|
|Wxxvi3LZbHNIDwJ-Z...|  Las Vegas|Sft1a3j3Hst44CG9g...|  1.0|I am so blown awa...|Shopping Centers,...|
|FbUzIBAj2ziuqL2gr...|   Lakewood|iSmfAVy6cApgXIYHs...|  1.0|My husband and I ...|Pizza, Restaurant...|
|uLnPW9K1yhNpgzvod...|     Verona|OV3RdHNC4Mkg_wWAe...|  4.0|Love this place. ...|Breweries, Restau...|
|tstimHoMcYbkSC4eB...|  Las Vegas|iWFBGYotfzwiLsOka...|  4.0|We found out abou...|Mexican, Restaura...|
|R7eLlAdeIYsxux_Vm...| Pittsburgh|af3W2YSy01Mx4HcAH...|  2.0|I went with the z...|Italian, Restaura...|
|XqJG7Ux_mMfMJnyG2...|   Montréal|sMh-VUwO64K-VvKEO...|  5.0|What an incredibl...|Burgers, Wine Bar...|
|8WIvQavDGCyOa-i1u...|Scarborough|ionasM2PY_2TFbK5D...|  4.0|Being an avid Hoo...|Nightlife, Hookah...|
|Wxxvi3LZbHNIDwJ-Z...|  Las Vegas|9XiyPxxdlJgNhkD8g...|  5.0|The nicest hotel ...|Shopping Centers,...|
|pH0BLkL4cbxKzu471...|  Las Vegas|pCbyWYtW1kmrz-nV1...|  5.0|A wonderful dinne...|Bars, Dim Sum, Ja...|
+--------------------+-----------+--------------------+-----+--------------------+--------------------+
only showing top 20 rows

In [21]:
df_review_business=joint_table.toPandas()
df_review_business

                   business_id  ...                                         categories
0       YSUcHqlKMPHHJ_cTrqtNrA  ...                               Italian, Restaurants
1       EIL41z-hvVCeYHqfA9PyWQ  ...  Custom Cakes, American (New), Breakfast & Brun...
2       CZKkoMlqu0N0zCFK-3T_Fg  ...                        Restaurants, American (New)
3       5n2dA_QqO4c_7pSK0Of6AQ  ...  Restaurants, American (Traditional), Food, Fas...
4       EgwGTDZ705TwudPJwAY0yQ  ...                 Pizza, Salad, Italian, Restaurants
...                        ...  ...                                                ...
334361  93cSBol4_mnfzxIfG9RCDA  ...    Food, Creperies, Mexican, Desserts, Restaurants
334362  jJDnxINrCKstFyeH3F8Cfw  ...               Car Dealers, Auto Repair, Automotive
334363  JsE49fqEAChhc7N9qjIl8g  ...             Apartments, Home Services, Real Estate
334364  3kdSl5mo9dWC4clrQjEDGg  ...  Breakfast & Brunch, Sandwiches, Burgers, Resta...
334365  7sb2FYLS2sejZKxRYF9mtg  ...         Buffets, Sushi Bars, Japanese, Restaurants

[334366 rows x 6 columns]

In [0]:
joint_table=df_review_business.dropna(axis=0,subset=["categories"])

In [23]:
joint_table.categories.isnull().value_counts()

False    334245
Name: categories, dtype: int64

In [24]:
df_joint=joint_table[joint_table['categories'].str.contains(r'restaurant|food')]
df_joint

                   business_id  ...                                         categories
62      g-I48SaHtdIGR5ZEoVeNFw  ...         Seafood, Japanese, Restaurants, Sushi Bars
92      FYqFfaxVRW6pdviONXIoDw  ...  Nightlife, Restaurants, Steakhouses, American ...
98      1Df5WnLX3DqN6ymlhqznaQ  ...  Seafood, Restaurants, Sushi Bars, Hawaiian, St...
100     g-I48SaHtdIGR5ZEoVeNFw  ...         Seafood, Japanese, Restaurants, Sushi Bars
102     6xgcHeLad-VaoTIQewK84A  ...  Seafood, Steakhouses, American (Traditional), ...
...                        ...  ...                                                ...
334262  0_mJttUgHIzC-NO18gcgBA  ...     Restaurants, Mexican, Seafood, Bars, Nightlife
334267  kgw8nBO9ZMRhukfnJd6bxg  ...  Seafood, Bars, Wine Bars, Restaurants, Nightli...
334270  aTVssbSnSHOUitXjfyCWZg  ...                 Seafood, Restaurants, Fish & Chips
334298  eh127ASMZstrELE0K0XADw  ...                               Seafood, Restaurants
334310  cyzOijFJ82cae6qH6L8vuw  ...         Food, Restaurants, Thai, Seafood, Desserts

[17438 rows x 6 columns]

In [25]:
df_joint.categories.value_counts()

Seafood, Restaurants                                                                        292
Restaurants, Seafood                                                                        249
Car Dealers, Nightlife, Automotive, Buffets, Wine Bars, Bars, Thai, Restaurants, Seafood    167
Restaurants, Bars, Seafood, Nightlife                                                       138
Restaurants, Seafood, Desserts, Specialty Food, Food, Buffets                               120
                                                                                           ...
Seafood, Restaurants, Breakfast & Brunch, Bars, Food, Nightlife, Beer, Wine & Spirits         1
Bars, Lounges, Nightlife, Wine Bars, Restaurants, Seafood, Steakhouses                        1
Seafood, Brasseries, Restaurants                                                              1
Seafood, Fast Food, Southern, Restaurants, Soul Food                                          1
Sandwiches, Restaurants, Seafood, Burgers, Pizza                                              1
Name: categories, Length: 1630, dtype: int64

In [0]:
#data labeling

In [27]:
import numpy as np
df_joint['label'] = np.where(df_joint['stars']>=4, 1, 0)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [28]:
df_joint

                   business_id  ... label
62      g-I48SaHtdIGR5ZEoVeNFw  ...     0
92      FYqFfaxVRW6pdviONXIoDw  ...     1
98      1Df5WnLX3DqN6ymlhqznaQ  ...     1
100     g-I48SaHtdIGR5ZEoVeNFw  ...     1
102     6xgcHeLad-VaoTIQewK84A  ...     1
...                        ...  ...   ...
334262  0_mJttUgHIzC-NO18gcgBA  ...     1
334267  kgw8nBO9ZMRhukfnJd6bxg  ...     1
334270  aTVssbSnSHOUitXjfyCWZg  ...     0
334298  eh127ASMZstrELE0K0XADw  ...     1
334310  cyzOijFJ82cae6qH6L8vuw  ...     1

[17438 rows x 7 columns]

In [0]:
df_text=pd.DataFrame(df_joint.text)
np.savetxt('text.txt', df_text.values,fmt='%s')
#df_joint_spark = spark.createDataFrame(pd.DataFrame(df_joint.text))
#df_joint_spark.take(10)
#textRDD=df_joint_spark.select("text").rdd
#textRDD.take(5)

In [30]:
textRDD = sc.textFile('text.txt')
textRDD.take(3)

["WOW!  That's all I have to say.  Not sure what happened since the last time I was here, but it was like going to a completely different restaurant.  Horrible, rude service from BOTH of the waitresses, not just from the one that all the other people here have mentioned--tall, nasty, and always has a look on her face like someone just took a crap in her cereal.  And I sort of got the impression that because I am gaijin (ie: not Japanese) I may have pissed them off even more.  Food still tasted the same (great) but the ambiance and the attitude really, REALLY rubbed me the wrong way.  Needless to say--no tip.  I would have RELISHED the opportunity that the other reviewer had when tall and nasty followed you out to the parking lot and demanded a tip--I guarantee she wouldn't have found that to be a pleasant experience.  You all just lost a customer and a fan--congratulations nasty face!!!",
 "I wanted to respond to Aaron's review. That's because I'm likely the individual the server was sitting with. Just to clarify, that was at my request. I'm on my own these days, and on most evenings my company is the latest issue of Sports Illustrated. But at this particular Fleming's, where I generally dine once each week and am a Magnum member) I've become friendly with most of the people that work there. And on this particular evening, I asked the server to join me. Had this prevented her from being attentive to your party (which was not the case, as you noted), you'd have a legitimate complaint. As that wasn't the case, there was no lack of professionalism whatsoever. Fact is, while I really enjoy all the elements (food, service, ambience) at this Fleming's, it's the personal treatment that keeps me coming back. I thought this needed to be said.",
 'Very delicious place. The Prix Fixe Menu is a good deal! I tried their pork chop dish and between that and the appetizer, this was way too much food for me (perfect for the boys though). We were here for a birthday dinner and they give a free small cake to the birthday person as well. It was a nice touch. Service was excellent.']

In [0]:
wordRDD = textRDD.flatMap(lambda x: x.split(' '))
wordRDD.take(10)
wordFilteredRDD = wordRDD.filter(lambda x: len(x)>0)
word1RDD = wordFilteredRDD.map(lambda x: (x, 1))

In [32]:
wordCountRDD = word1RDD.reduceByKey(lambda x,y: x+y )
wcList = wordCountRDD.take(5)
print(wcList)

[('WOW!', 25), ("That's", 222), ('have', 10993), ('Not', 1177), ('sure', 1378)]

In [33]:
#convert all the words into lowercase;make the word case insensitive
wordLowerRDD = wordFilteredRDD.map(lambda x: x.lower())
wordLowerRDD.take(3)

['wow!', "that's", 'all']

In [0]:
word1RDD = wordLowerRDD.map(lambda x: (x,1)) 
wordCountRDD = word1RDD.reduceByKey(lambda x,y: x+y) 
wordCountRDD.take(5)
#filter rare words
freqWordsRDD = wordCountRDD.filter(lambda x:  x[1]>10 ) # tip: filter keeps the times where the lambda returns true.
freqWordsRDD.take(5)

sorted_wordCountRDD=freqWordsRDD.takeOrdered(wordCountRDD.count(),key = lambda x: -x[1])
#sorted_wordCountRDD

In [38]:
!pip install nltk==3.3

Collecting nltk==3.3
  Downloading https://files.pythonhosted.org/packages/50/09/3b1755d528ad9156ee7243d52aa5cd2b809ef053a0f31b53d92853dd653a/nltk-3.3.0.zip (1.4MB)
     |████████████████████████████████| 1.4MB 4.9MB/s
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk==3.3) (1.12.0)
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Created wheel for nltk: filename=nltk-3.3-cp36-none-any.whl size=1394469 sha256=702f9769aae3bc7cc432cef167d5a1c472c1d7aa595617d64f75c75277a21373
  Stored in directory: /root/.cache/pip/wheels/d1/ab/40/3bceea46922767e42986aef7606a600538ca80de6062dc266c
Successfully built nltk
Installing collected packages: nltk
  Found existing installation: nltk 3.2.5
    Uninstalling nltk-3.2.5:
      Successfully uninstalled nltk-3.2.5
Successfully installed nltk-3.3

In [0]:
import nltk

In [0]:
negative_reviews=spark.read.csv('/content/drive/My Drive/negative reviews.csv').toPandas()
positive_reviews=spark.read.csv('/content/drive/My Drive/positive reviews.csv').toPandas()

In [0]:
#####larger dataset####
positive_list=df_joint[df_joint.label==1].text.values.tolist()
negative_list=df_joint[df_joint.label==0].text.values.tolist()

In [0]:
####1200 datasets####
#negative_list=[' '.join(val) for val in negative_reviews.astype(str).values.tolist()]
#positive_list=[' '.join(val) for val in positive_reviews.astype(str).values.tolist()]

In [309]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [0]:
from nltk.tokenize import TweetTokenizer
tknzr = TweetTokenizer()
negative_words=[]
for i in range(len(negative_list)):
  tknzr.tokenize(negative_list[i])
  negative_words.append(tknzr.tokenize(negative_list[i]))
#negative_words[:6]

positive_words=[]
for i in range(len(positive_list)):
  tknzr.tokenize(positive_list[i])
  positive_words.append(tknzr.tokenize(positive_list[i]))

In [311]:
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [312]:
from nltk.tag import pos_tag
print(pos_tag(positive_words[0]))
print(pos_tag(negative_words[0]))

[('I', 'PRP'), ('wanted', 'VBD'), ('to', 'TO'), ('respond', 'VB'), ('to', 'TO'), ("Aaron's", 'NNP'), ('review', 'NN'), ('.', '.'), ("That's", 'NNP'), ('because', 'IN'), ("I'm", 'NNP'), ('likely', 'RB'), ('the', 'DT'), ('individual', 'NN'), ('the', 'DT'), ('server', 'NN'), ('was', 'VBD'), ('sitting', 'VBG'), ('with', 'IN'), ('.', '.'), ('Just', 'NNP'), ('to', 'TO'), ('clarify', 'VB'), (',', ','), ('that', 'DT'), ('was', 'VBD'), ('at', 'IN'), ('my', 'PRP$'), ('request', 'NN'), ('.', '.'), ("I'm", 'NNP'), ('on', 'IN'), ('my', 'PRP$'), ('own', 'JJ'), ('these', 'DT'), ('days', 'NNS'), (',', ','), ('and', 'CC'), ('on', 'IN'), ('most', 'JJS'), ('evenings', 'NNS'), ('my', 'PRP$'), ('company', 'NN'), ('is', 'VBZ'), ('the', 'DT'), ('latest', 'JJS'), ('issue', 'NN'), ('of', 'IN'), ('Sports', 'NNP'), ('Illustrated', 'NNP'), ('.', '.'), ('But', 'CC'), ('at', 'IN'), ('this', 'DT'), ('particular', 'JJ'), ("Fleming's", 'NNP'), (',', ','), ('where', 'WRB'), ('I', 'PRP'), ('generally', 'RB'), ('dine', 'VBP'), ('once', 'RB'), ('each', 'DT'), ('week', 'NN'), ('and', 'CC'), ('am', 'VBP'), ('a', 'DT'), ('Magnum', 'NNP'), ('member', 'NN'), (')', ')'), ("I've", 'NNP'), ('become', 'VBN'), ('friendly', 'JJ'), ('with', 'IN'), ('most', 'JJS'), ('of', 'IN'), ('the', 'DT'), ('people', 'NNS'), ('that', 'WDT'), ('work', 'VBP'), ('there', 'RB'), ('.', '.'), ('And', 'CC'), ('on', 'IN'), ('this', 'DT'), ('particular', 'JJ'), ('evening', 'NN'), (',', ','), ('I', 'PRP'), ('asked', 'VBD'), ('the', 'DT'), ('server', 'NN'), ('to', 'TO'), ('join', 'VB'), ('me', 'PRP'), ('.', '.'), ('Had', 'VBD'), ('this', 'DT'), ('prevented', 'VBN'), ('her', 'NN'), ('from', 'IN'), ('being', 'VBG'), ('attentive', 'JJ'), ('to', 'TO'), ('your', 'PRP$'), ('party', 'NN'), ('(', '('), ('which', 'WDT'), ('was', 'VBD'), ('not', 'RB'), ('the', 'DT'), ('case', 'NN'), (',', ','), ('as', 'IN'), ('you', 'PRP'), ('noted', 'VBD'), (')', ')'), (',', ','), ("you'd", 'RB'), ('have', 'VBP'), ('a', 'DT'), ('legitimate', 'JJ'), ('complaint', 'NN'), ('.', '.'), ('As', 'IN'), ('that', 'DT'), ("wasn't", 'VBZ'), ('the', 'DT'), ('case', 'NN'), (',', ','), ('there', 'EX'), ('was', 'VBD'), ('no', 'DT'), ('lack', 'NN'), ('of', 'IN'), ('professionalism', 'NN'), ('whatsoever', 'NN'), ('.', '.'), ('Fact', 'NNP'), ('is', 'VBZ'), (',', ','), ('while', 'IN'), ('I', 'PRP'), ('really', 'RB'), ('enjoy', 'VB'), ('all', 'PDT'), ('the', 'DT'), ('elements', 'NNS'), ('(', '('), ('food', 'NN'), (',', ','), ('service', 'NN'), (',', ','), ('ambience', 'NN'), (')', ')'), ('at', 'IN'), ('this', 'DT'), ("Fleming's", 'NNP'), (',', ','), ("it's", 'VBZ'), ('the', 'DT'), ('personal', 'JJ'), ('treatment', 'NN'), ('that', 'WDT'), ('keeps', 'VBZ'), ('me', 'PRP'), ('coming', 'VBG'), ('back', 'RB'), ('.', '.'), ('I', 'PRP'), ('thought', 'VBD'), ('this', 'DT'), ('needed', 'VBN'), ('to', 'TO'), ('be', 'VB'), ('said', 'VBD'), ('.', '.')]
[('WOW', 'NN'), ('!', '.'), ("That's", 'NNP'), ('all', 'DT'), ('I', 'PRP'), ('have', 'VBP'), ('to', 'TO'), ('say', 'VB'), ('.', '.'), ('Not', 'RB'), ('sure', 'JJ'), ('what', 'WP'), ('happened', 'VBD'), ('since', 'IN'), ('the', 'DT'), ('last', 'JJ'), ('time', 'NN'), ('I', 'PRP'), ('was', 'VBD'), ('here', 'RB'), (',', ','), ('but', 'CC'), ('it', 'PRP'), ('was', 'VBD'), ('like', 'IN'), ('going', 'VBG'), ('to', 'TO'), ('a', 'DT'), ('completely', 'RB'), ('different', 'JJ'), ('restaurant', 'NN'), ('.', '.'), ('Horrible', 'JJ'), (',', ','), ('rude', 'JJ'), ('service', 'NN'), ('from', 'IN'), ('BOTH', 'NNP'), ('of', 'IN'), ('the', 'DT'), ('waitresses', 'NNS'), (',', ','), ('not', 'RB'), ('just', 'RB'), ('from', 'IN'), ('the', 'DT'), ('one', 'NN'), ('that', 'WDT'), ('all', 'PDT'), ('the', 'DT'), ('other', 'JJ'), ('people', 'NNS'), ('here', 'RB'), ('have', 'VBP'), ('mentioned--tall', 'NN'), (',', ','), ('nasty', 'JJ'), (',', ','), ('and', 'CC'), ('always', 'RB'), ('has', 'VBZ'), ('a', 'DT'), ('look', 'NN'), ('on', 'IN'), ('her', 'PRP$'), ('face', 'NN'), ('like', 'IN'), ('someone', 'NN'), ('just', 'RB'), ('took', 'VBD'), ('a', 'DT'), ('crap', 'NN'), ('in', 'IN'), ('her', 'PRP$'), ('cereal', 'NN'), ('.', '.'), ('And', 'CC'), ('I', 'PRP'), ('sort', 'NN'), ('of', 'IN'), ('got', 'VBD'), ('the', 'DT'), ('impression', 'NN'), ('that', 'IN'), ('because', 'IN'), ('I', 'PRP'), ('am', 'VBP'), ('gaijin', 'JJ'), ('(', '('), ('ie', 'NN'), (':', ':'), ('not', 'RB'), ('Japanese', 'NNP'), (')', ')'), ('I', 'PRP'), ('may', 'MD'), ('have', 'VB'), ('pissed', 'VBN'), ('them', 'PRP'), ('off', 'RP'), ('even', 'RB'), ('more', 'RBR'), ('.', '.'), ('Food', 'NNP'), ('still', 'RB'), ('tasted', 'VBD'), ('the', 'DT'), ('same', 'JJ'), ('(', '('), ('great', 'JJ'), (')', ')'), ('but', 'CC'), ('the', 'DT'), ('ambiance', 'NN'), ('and', 'CC'), ('the', 'DT'), ('attitude', 'NN'), ('really', 'RB'), (',', ','), ('REALLY', 'NNP'), ('rubbed', 'VBD'), ('me', 'PRP'), ('the', 'DT'), ('wrong', 'JJ'), ('way', 'NN'), ('.', '.'), ('Needless', 'NNP'), ('to', 'TO'), ('say--no', 'JJ'), ('tip', 'NN'), ('.', '.'), ('I', 'PRP'), ('would', 'MD'), ('have', 'VB'), ('RELISHED', 'NNP'), ('the', 'DT'), ('opportunity', 'NN'), ('that', 'IN'), ('the', 'DT'), ('other', 'JJ'), ('reviewer', 'NN'), ('had', 'VBD'), ('when', 'WRB'), ('tall', 'JJ'), ('and', 'CC'), ('nasty', 'JJ'), ('followed', 'VBD'), ('you', 'PRP'), ('out', 'IN'), ('to', 'TO'), ('the', 'DT'), ('parking', 'NN'), ('lot', 'NN'), ('and', 'CC'), ('demanded', 'VBD'), ('a', 'DT'), ('tip--I', 'JJ'), ('guarantee', 'NN'), ('she', 'PRP'), ("wouldn't", 'WDT'), ('have', 'VBP'), ('found', 'VBN'), ('that', 'IN'), ('to', 'TO'), ('be', 'VB'), ('a', 'DT'), ('pleasant', 'JJ'), ('experience', 'NN'), ('.', '.'), ('You', 'PRP'), ('all', 'DT'), ('just', 'RB'), ('lost', 'VBN'), ('a', 'DT'), ('customer', 'NN'), ('and', 'CC'), ('a', 'DT'), ('fan--congratulations', 'NNS'), ('nasty', 'JJ'), ('face', 'NN'), ('!', '.'), ('!', '.'), ('!', '.')]

In [313]:
from nltk.stem.wordnet import WordNetLemmatizer

def lemmatize_sentence(tokens):
    lemmatizer = WordNetLemmatizer()
    lemmatized_sentence = []
    for word, tag in pos_tag(tokens):
        if tag.startswith('NN'):
            pos = 'n'
        elif tag.startswith('VB'):
            pos = 'v'
        else:
            pos = 'a'
        lemmatized_sentence.append(lemmatizer.lemmatize(word, pos))
    return lemmatized_sentence

print(lemmatize_sentence(positive_words[0]))
print(lemmatize_sentence(negative_words[0]))

['I', 'want', 'to', 'respond', 'to', "Aaron's", 'review', '.', "That's", 'because', "I'm", 'likely', 'the', 'individual', 'the', 'server', 'be', 'sit', 'with', '.', 'Just', 'to', 'clarify', ',', 'that', 'be', 'at', 'my', 'request', '.', "I'm", 'on', 'my', 'own', 'these', 'day', ',', 'and', 'on', 'most', 'evening', 'my', 'company', 'be', 'the', 'late', 'issue', 'of', 'Sports', 'Illustrated', '.', 'But', 'at', 'this', 'particular', "Fleming's", ',', 'where', 'I', 'generally', 'dine', 'once', 'each', 'week', 'and', 'be', 'a', 'Magnum', 'member', ')', "I've", 'become', 'friendly', 'with', 'most', 'of', 'the', 'people', 'that', 'work', 'there', '.', 'And', 'on', 'this', 'particular', 'evening', ',', 'I', 'ask', 'the', 'server', 'to', 'join', 'me', '.', 'Had', 'this', 'prevent', 'her', 'from', 'be', 'attentive', 'to', 'your', 'party', '(', 'which', 'be', 'not', 'the', 'case', ',', 'as', 'you', 'note', ')', ',', "you'd", 'have', 'a', 'legitimate', 'complaint', '.', 'As', 'that', "wasn't", 'the', 'case', ',', 'there', 'be', 'no', 'lack', 'of', 'professionalism', 'whatsoever', '.', 'Fact', 'be', ',', 'while', 'I', 'really', 'enjoy', 'all', 'the', 'element', '(', 'food', ',', 'service', ',', 'ambience', ')', 'at', 'this', "Fleming's", ',', "it's", 'the', 'personal', 'treatment', 'that', 'keep', 'me', 'come', 'back', '.', 'I', 'think', 'this', 'need', 'to', 'be', 'say', '.']
['WOW', '!', "That's", 'all', 'I', 'have', 'to', 'say', '.', 'Not', 'sure', 'what', 'happen', 'since', 'the', 'last', 'time', 'I', 'be', 'here', ',', 'but', 'it', 'be', 'like', 'go', 'to', 'a', 'completely', 'different', 'restaurant', '.', 'Horrible', ',', 'rude', 'service', 'from', 'BOTH', 'of', 'the', 'waitress', ',', 'not', 'just', 'from', 'the', 'one', 'that', 'all', 'the', 'other', 'people', 'here', 'have', 'mentioned--tall', ',', 'nasty', ',', 'and', 'always', 'have', 'a', 'look', 'on', 'her', 'face', 'like', 'someone', 'just', 'take', 'a', 'crap', 'in', 'her', 'cereal', '.', 'And', 'I', 'sort', 'of', 'get', 'the', 'impression', 'that', 'because', 'I', 'be', 'gaijin', '(', 'ie', ':', 'not', 'Japanese', ')', 'I', 'may', 'have', 'piss', 'them', 'off', 'even', 'more', '.', 'Food', 'still', 'taste', 'the', 'same', '(', 'great', ')', 'but', 'the', 'ambiance', 'and', 'the', 'attitude', 'really', ',', 'REALLY', 'rub', 'me', 'the', 'wrong', 'way', '.', 'Needless', 'to', 'say--no', 'tip', '.', 'I', 'would', 'have', 'RELISHED', 'the', 'opportunity', 'that', 'the', 'other', 'reviewer', 'have', 'when', 'tall', 'and', 'nasty', 'follow', 'you', 'out', 'to', 'the', 'parking', 'lot', 'and', 'demand', 'a', 'tip--I', 'guarantee', 'she', "wouldn't", 'have', 'find', 'that', 'to', 'be', 'a', 'pleasant', 'experience', '.', 'You', 'all', 'just', 'lose', 'a', 'customer', 'and', 'a', 'fan--congratulations', 'nasty', 'face', '!', '!', '!']

In [0]:
import re, string

def remove_noise(review_tokens, stop_words = ()):

    cleaned_tokens = []

    for token, tag in pos_tag(review_tokens):
        token = re.sub('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+#]|[!*\(\),]|'\
                       '(?:%[0-9a-fA-F][0-9a-fA-F]))+','', token)

        if tag.startswith("NN"):
            pos = 'n'
        elif tag.startswith('VB'):
            pos = 'v'
        else:
            pos = 'a'

        lemmatizer = WordNetLemmatizer()
        token = lemmatizer.lemmatize(token, pos)

        if len(token) > 0 and token not in string.punctuation and token.lower() not in stop_words:
            cleaned_tokens.append(token.lower())
    return cleaned_tokens

In [315]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [316]:
from nltk.corpus import stopwords
stop_words = stopwords.words('english')

print(remove_noise(positive_words[0], stop_words))
print(remove_noise(negative_words[0], stop_words))

['want', 'respond', "aaron's", 'review', "that's", "i'm", 'likely', 'individual', 'server', 'sit', 'clarify', 'request', "i'm", 'day', 'evening', 'company', 'late', 'issue', 'sports', 'illustrated', 'particular', "fleming's", 'generally', 'dine', 'week', 'magnum', 'member', "i've", 'become', 'friendly', 'people', 'work', 'particular', 'evening', 'ask', 'server', 'join', 'prevent', 'attentive', 'party', 'case', 'note', 'legitimate', 'complaint', 'case', 'lack', 'professionalism', 'whatsoever', 'fact', 'really', 'enjoy', 'element', 'food', 'service', 'ambience', "fleming's", 'personal', 'treatment', 'keep', 'come', 'back', 'think', 'need', 'say']
['wow', "that's", 'say', 'sure', 'happen', 'since', 'last', 'time', 'like', 'go', 'completely', 'different', 'restaurant', 'horrible', 'rude', 'service', 'waitress', 'one', 'people', 'mentioned--tall', 'nasty', 'always', 'look', 'face', 'like', 'someone', 'take', 'crap', 'cereal', 'sort', 'get', 'impression', 'gaijin', 'ie', 'japanese', 'may', 'piss', 'even', 'food', 'still', 'taste', 'great', 'ambiance', 'attitude', 'really', 'really', 'rub', 'wrong', 'way', 'needless', 'say--no', 'tip', 'would', 'relished', 'opportunity', 'reviewer', 'tall', 'nasty', 'follow', 'parking', 'lot', 'demand', 'tip--i', 'guarantee', 'find', 'pleasant', 'experience', 'lose', 'customer', 'fan--congratulations', 'nasty', 'face']

In [0]:

positive_cleaned_tokens_list = []
negative_cleaned_tokens_list = []

for tokens in positive_words:
    positive_cleaned_tokens_list.append(remove_noise(tokens, stop_words))

for tokens in negative_words:
    negative_cleaned_tokens_list.append(remove_noise(tokens, stop_words))

In [318]:
print(positive_words[5])
print(positive_cleaned_tokens_list[5])

['Went', 'for', 'my', "wife's", 'birthday', '.', 'Food', ',', 'service', '...', 'everything', 'was', 'amazing', '.', 'I', 'boycotted', 'Flemings', 'a', 'while', 'back', 'and', 'so', 'glad', 'I', 'did', 'because', 'I', 'have', 'tried', 'some', 'fantastic', 'places', ',', 'Roys', 'is', 'on', 'the', 'top', 'of', 'the', 'list', '.', 'The', 'Ahi', 'was', 'the', 'highest', 'quality', 'and', 'super', 'dark', 'red', '.', 'I', 'will', 'go', 'back', 'for', 'sure', '.']
['went', "wife's", 'birthday', 'food', 'service', '...', 'everything', 'amaze', 'boycott', 'flemings', 'back', 'glad', 'try', 'fantastic', 'place', 'roys', 'top', 'list', 'ahi', 'high', 'quality', 'super', 'dark', 'red', 'go', 'back', 'sure']

In [0]:
def get_all_words(cleaned_tokens_list):
    for tokens in cleaned_tokens_list:
        for token in tokens:
            yield token

all_pos_words = get_all_words(positive_cleaned_tokens_list)
all_neg_words= get_all_words(negative_cleaned_tokens_list)

In [328]:
from nltk import FreqDist

freq_dist_pos = FreqDist(all_pos_words)
freq_dist_neg = FreqDist(all_neg_words)

print(freq_dist_pos.most_common(10))
print(freq_dist_neg.most_common(10))

[('food', 8678), ('good', 8545), ('great', 7413), ('place', 7195), ('get', 5673), ('go', 5380), ('service', 5205), ('order', 4690), ('come', 4539), ('time', 4507)]
[('food', 5508), ('good', 5206), ('order', 4083), ('get', 4060), ('go', 3650), ('place', 3457), ('come', 3271), ('like', 3014), ('service', 2967), ('...', 2724)]

In [0]:
def get_reviews_for_model(cleaned_tokens_list):
    for review_tokens in cleaned_tokens_list:
        yield dict([token, True] for token in review_tokens)

positive_tokens_for_model = get_reviews_for_model(positive_cleaned_tokens_list)
negative_tokens_for_model = get_reviews_for_model(negative_cleaned_tokens_list)

In [0]:
import random

positive_dataset = [(review_dict, "Positive")
                     for review_dict in positive_tokens_for_model]

negative_dataset = [(review_dict, "Negative")
                     for review_dict in negative_tokens_for_model]

dataset = positive_dataset + negative_dataset

random.shuffle(dataset)

train_data = dataset[:13000]
test_data = dataset[13000:]
#negative_dataset

In [337]:
from nltk import classify
from nltk import NaiveBayesClassifier
classifier = NaiveBayesClassifier.train(train_data)

print("Accuracy is:", classify.accuracy(classifier, test_data))

print(classifier.show_most_informative_features(10))

Accuracy is: 0.6498422712933754
Most Informative Features
            unacceptable = True           Negati : Positi =     45.0 : 1.0
                   worst = True           Negati : Positi =     42.4 : 1.0
                   worse = True           Negati : Positi =     32.1 : 1.0
                downhill = True           Negati : Positi =     29.6 : 1.0
                  filthy = True           Negati : Positi =     25.0 : 1.0
               microwave = True           Negati : Positi =     23.6 : 1.0
               tasteless = True           Negati : Positi =     22.4 : 1.0
                horrible = True           Negati : Positi =     21.8 : 1.0
                  refund = True           Negati : Positi =     21.0 : 1.0
                  insult = True           Negati : Positi =     20.7 : 1.0
None

In [0]:
#from nltk.tokenize import word_tokenize

#custom_tweet = "I ordered just once from TerribleCo, they screwed up, never used the app again."

#custom_tokens = remove_noise(word_tokenize(custom_tweet))

#print(classifier.classify(dict([token, True] for token in custom_tokens)))